@tailwind base;
@tailwind components;
@tailwind utilities;

.BgPrimary {
  background-color: "#d2006e";
}

.BgSecondary {
  background-color: "#160f41";
}

.BgTertiary {
  background-color: "#f2f2f2";
}
